.DirIcon
.backups
Doxygen
.libs
.deps
autom4te*
aclocal*
config.h
config.h.in
config.guess
config.log
config.sub
config.status
configure
depcomp
libtool
install-sh
ltmain.sh
m4
missing
stamp-h1
Makefile
Makefile.in
*.o
*.lo
*.la
*.pc
*.gch
cscope.*
TAGS

NewExperiment
doc/html

*~
