Source: aghermann
Section: science
Priority: optional
Maintainer: Andrei Zavada <johnhommer@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://johnhommer.com/academic/code/aghermann

Package: aghermann
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: edfbrowser
Description: Sleep-research experiment manager
 Aghermann is a program designed around a common workflow in
 sleep-research, complete with scoring facility, EEG power spectrum and
 power course visualization, and Process S simulation following
 Achermann et al, 1993.
