#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

parallel=4

# include /usr/share/hardening-includes/hardening.make

export DEB_BUILD_HARDENING=1

CXXFLAGS=$(shell dpkg-buildflags --get CFLAGS)
LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)
# CXXFLAGS+=$(HARDENING_CFLAGS)
# LDFLAGS+=$(HARDENING_LDFLAGS)
## hardening-wrapper doesn't seem to be available
## on all target arches yet, so try adding these flags manually
export CXXFLAGS += -Wformat -Wformat-security -Werror=format-security -D_FORTIFY_SOURCE=2 -fstack-protector --param ssp-buffer-size=4
## flags set following 
export LDFLAGS += -z relro -z now

%:
	dh $@ --with autoreconf
